.menu li{
    list-style: none;
    color: #000;
    display: inline;
    background: #fff;
    margin:0 40px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
.regreso li{
    list-style: none;
    color: #000;
    display: inline;
    background: #fff;
    margin:0 150px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}



#para1{
text-align:center;

 color:red;

  }

  #para2{
      text-align: left;
      color: blue;
      font-size: 51px;
  }

  .centrar{
      text-align: center;
      color: red;
      font-style: italic;
      font-size: 30px;
      font-weight: bold;

  }

  .miestilo{
      background-color: aquamarine;
      font-size: 25px;
      padding: 10px 10px 10px 10px;
      color: blueviolet;
  }

  #encabezado{
      color: #000;
      border-radius: 10px;
      width: 80%;
      margin: 10px 10%;
      background-image: url(../img/miche.jpg);
      padding: 10px 10px 10px 10px;
  }


  body{
     background-color: darkgoldenrod;
  }

  #piedepagina{
      color: #000;
      text-align: center;
      border-radius: 10px;
      width: 81%;
      margin: 27% 10% 10px;
      height: 100px;
      background-color: #fff;
      clear: both;

    }


    #seccion1{
        float: left;
        width: 38%;
        height: 900px;
        margin: 0 0 0 10%;
        background-color: blue;
        padding: 10px 10px 10px 10px;

    }

    #seccion2{
        float: right;
        width: 38%;
        height: 900px;
        margin: 0 9% 0 0;
        background-color: red;
        padding: 10px 10px 10px 10px;
        
    }

    #seccion3{
        
        width: 38%;
        height: 900px;
        margin:0 auto;
        background-color: white;
        padding: 10px 10px 10px 10px;
        
    }